
/*
HOME PAGE CSS STUFF

*/
body{
	margin: 0;
	padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}


.home-section{
	background-image: url("good.jpg");
	background-size: cover;
	height: 100vh;
	padding: 0;
	margin: 0;
	top:0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: honeydew;
}

.topnav{
	width: 100%;
	line-height: 30px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #008080; opacity: 0.8; filter: alpha(opacity=60);
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;

}

.topnav ul li {
    float: right;
	padding: 0px;
	margin: 0px;
}

.topnav ul li a {
    display: block;
    color: white;
	font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav ul li.header-logo{
	float: left;
	cursor: pointer;
}

button {
    background-color: #008080; opacity: 0.8; filter: alpha(opacity=60); /* Teal */
    border: none;
    color: honeydew;
	font-family: "Montserrat", sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;

	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: honeydew; /* Teal */
	color: #008080;
	outline: solid, 2px, #008080;
	outline-offset: 200px;
}

li a:hover {
	transition: all 0.5s;
    color: white;
	border-bottom: 2px solid;
	font-size:20px;

}





/*
NEXT STUFF







*/
    background-color: #008080; /* Teal */
    color: white;
}

/* FEATURES PAGE **************************/


body, html {
  width: 100%;
  height: 100%;
  margin: 0;

}

.container {
  width: 100%;
  height: 100%;

}

.leftpane {
    width: 33%;
    height: 100%;
    float: left;
    background-color: #008080;
    border-collapse: separate;
		border-spacing: 1px 10px;

}

.middlepane {
    width: 34%;
    height: 100%;
    float: left;
    background-color: #008080;
    border-collapse: separate;
		border-spacing: 1px 10px;



}

.rightpane {
  width: 33%;
  height: 100%;
  position: relative;
  float: right;
  background-color: #008080;
  border-collapse: separate;
	border-spacing: 1px 10px;

}

.toppane {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  background-color: #008080;




}
.h2{
	font-family: 'Sigmar One', cursive;
	font-size: 20px;

}
.p1 {
	font-family: 'Varela', sans-serif;
	font-size: 20px;
	color: #ffffff;

}
.p2 {
	font-family: 'Varela', sans-serif;
	font-size: 20px;


}
.h1 {

	font-family: 'Sigmar One', cursive;
	font-size: 55px;
	text-align: center;
}
img.resize {
  width:200px;
  height:200px;
}


/* CONTACT PAGE */

input[type="text"], {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



/* TEAM PAGE*/
.team-section{
	background-size: cover;
	padding: 100;
	margin: 0;
	top:0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: FFFFF0;
}
.three-people{
	background-size: cover;
	padding: 40;
	margin: 0;
	top:0;

	display: inline;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: FFFFF0;
}
.person1{
	position: relative;
	height: 400px;
	width: 300px;
	float: left;
	background-size: 160%;
	background-position: center;
	transition: 0.5s;
}
.person1:hover{
	background-size:140%;
}
.person1:after{
	position: absolute;
	top:90%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space:pre-wrap;
	overflow:hidden;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	padding:0 8px;
	content:attr(data-text);
	transition: 0.5s;
}
.person1:hover:after{
	top: 0;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}
.person1:first-line{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
.person2{
	position: relative;
	height: 400px;
	width: 300px;
	background-size: 160%;
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	background-position:center;
	transition: 0.5s;

}
.person2:hover{
	background-size:140%;
}
.person2:after{
	position: absolute;
	top:90%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space:pre-wrap;
	overflow:hidden;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	padding:0 8px;
	content:attr(data-text);
	transition: 0.5s;
}
.person2:hover:after{
	top: 0;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}
.person2:first-line{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
.person3{
	position: relative;
	height: 400px;
	width: 300px;
	background-size: 160%;
	float: right;
	background-position:center;
	transition: 0.5s;

}
.person3:hover{
	background-size:140%;
}
.person3:after{
	position: absolute;
	top:90%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space:pre-wrap;
	overflow:hidden;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	padding:0 8px;
	content:attr(data-text);
	transition: 0.5s;
}
.person3:hover:after{
	top: 0;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}
.person3:first-line{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
.person4{
	position: relative;
	height: 400px;
	width: 300px;
	background-size: 160%;
	float: left;
	margin-right: 75px;
	background-position:center;
	transition: 0.5s;

}
.person4:hover{
	background-size:140%;
}
.person4:after{
	position: absolute;
	top:90%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space:pre-wrap;
	overflow:hidden;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	padding:0 8px;
	content:attr(data-text);
	transition: 0.5s;
}
.person4:hover:after{
	top: 0;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}
.person4:first-line{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
.person5{
	position: relative;
	height: 400px;
	width: 300px;
	background-size: 160%;
	float: left;
	margin-left: 75px;
	background-position:center;
	transition: 0.5s;

}
.person5:hover{
	background-size:140%;
}
.person5:after{
	position: absolute;
	top:90%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space:pre-wrap;
	overflow:hidden;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	padding:0 8px;
	content:attr(data-text);
	transition: 0.5s;
}
.person5:hover:after{
	top: 0;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}
.person5:first-line{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
.team-banner{
	background-image: url("treess.jpg");
	background-size: cover;
	height: 200px;
	padding: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: honeydew;
}
