
/*
HOME PAGE CSS STUFF




*/
body{
	margin: 0;
	padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}



.home-section{
	background-image: url("good.png");
	background-size: cover;
	height: 100vh;
	padding: 0;
	margin: 0;
	top:0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: honeydew;
}

.topnav{
	width: 100%;
	line-height: 30px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #008080; opacity: 0.8; filter: alpha(opacity=60);
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;

}

.topnav ul li {
    float: right;
	padding: 0px;
	margin: 0px;
}

.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav ul li a:hover {
    background-color: #blue;
	transition: all in ease out 0.5s;
}

.topnav ul li.header-logo{
	float: left;
	cursor: pointer;
}

button {
    background-color: #008080; opacity: 0.8; filter: alpha(opacity=60); /* Teal */
    border: none;
    color: honeydew;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;

	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: honeydew; /* Teal */
	color: #008080;
	border-style: solid;
	border-color: solid,2px,#008080;
}


/*
NEXT STUFF







*/
    background-color: #008080; /* Teal */
    color: white;
}

/* FEATURES PAGE **************************/
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 33%;
    height: 100%;
    float: left;
    background-color: #008080;
    border-collapse: collapse;
}

.middlepane {
    width: 34%;
    height: 100%;
    float: left;
    background-color: #008080;
    border-collapse: collapse;
}

.rightpane {
  width: 33%;
  height: 100%;
  position: relative;
  float: right;
  background-color: #008080;
  border-collapse: collapse;
}

.toppane {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  background-color: #008080;
}
img.resize {
  width:200px;
  height:200px;
}
